@import url('https://fonts.cdnfonts.com/css/ravenda');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: #cc70cf;
    background: linear-gradient(339deg, rgb(230, 142, 233) 0%, rgb(69, 198, 224) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffffaa;
    text-align: center;
}
#header{
    font-size: 60px;
    font-weight: 100;
    padding: 20px;
    text-align: center;
}
#middletext{
    width: 800px;
    color: #ffffffcc;
    padding: 175px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 150px;
    background: rgb(255,255,255);
    background: linear-gradient(245deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.35) 90%); 
    font-family: 'Ravenda', sans-serif;
    border-radius: 50px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 0px 57px -23px rgba(255, 255, 255, 228);
    -moz-box-shadow: 0px 0px 57px -23px rgba(255, 255, 255, 228);
    box-shadow: 0px 0px 57px -23px rgba(255, 255, 255, 228);
    margin-top: 50px;
}
#content{
    width: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
a{
    color: #ffffff77;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    transition: all .2s;
}
a:hover{
    transform: scale(1.1);
    color: #ffffffaa;
    text-shadow: 0px 0px 11px rgba(238, 238, 238, 1);
}
#footer{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ffffffaa;
    bottom: 0px;
    position: absolute;
    width: 100%;
}
#footer a{
    display: inline-block;
    margin: 0;
}
@media only screen and (max-width: 1023px) {
    #header{
        font-size: 45px;
    }
    #middletext{
        display: none;
    }
    a{
        display: block;
        margin-top: 20px;
    }
}
