body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #ffffff00;
    text-align: center;
    background: rgb(172,127,147);
    background: radial-gradient(circle, rgba(172,127,147,1) 0%, rgba(123,155,192,1) 100%); 
    font-size: 48px;
}
form{
    width: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #ffffff99;
}
#searchbar{
    height: 48px;
    width: 360px;
    border-radius: 48px;
    border: 3px solid #ffffff33;
    background-color: #ffffff00;
}
input[type=text]{
    color: #ffffffaa;
    text-align: center;
}
#button{
    width: 52px;
    height: 52px;
    border-radius: 100%;
    border: 3px solid #ffffff33;
    background-color: #ffffff00;
}
#button:hover{
    cursor: pointer;
}
