@import url('https://fonts.cdnfonts.com/css/florida-project');
@import url('https://fonts.cdnfonts.com/css/casino');
@keyframes colorChange {
     0% {
      color: red;
    }
    25% {
      color: rgb(0, 255, 255);
    }
    50% {
      color: rgb(0, 224, 0);
    }
    75% {
      color: orange;
    }
    100% {
      color: rgb(255, 0, 255);
    }
}
@keyframes backChange {
  0% {background-color: red;}
  25% {background-color: rgb(0, 225, 255);}
  50% {background-color: rgb(0, 224, 0);}
  75% {background-color: orange;}
  100% {background-color: rgb(255, 0, 255);}
}
@keyframes error {
  0% {color: #ff0000;}
  100% {color: #ff000000;}
}
@keyframes christmasLogo {
  0% {text-shadow: 0px 0px 50px rgb(252, 0, 0);}
  100% {text-shadow: 0px 0px 50px rgb(15, 126, 0);}
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Florida Project Phase One', sans-serif;
  background-color: #000000;
  overflow: hidden;
}
button{
  cursor: pointer;
  font-family: 'Florida Project Phase One', sans-serif;
}
#background{
  filter: blur(35px);
  -webkit-filter: blur(35px);
  position: absolute;
  background: url(img/back.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
#header{
  font-size: 64px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #ffffffaa;
  margin-top: 10px;
  font-family: 'Casino', sans-serif;
}
#version{
  font-size: 16px;
  display: inline;
  position: absolute;
  bottom: 35px;
  right: 15px;
  color: #ffffff22;
}
#changelog{
  font-size: 16px;
  display: inline;
  position: absolute;
  bottom: 35px;
  left: 15px;
  color: #ffffff77;
}
.menu{
  display: none;
  padding: 50px;
  text-align: center;
  background-color: #000000aa;
  color: #ffffffc5;
  width: auto;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 15px;
  border: 2px solid #000;
}
.menu button{
  padding: 16px;
  width: 200px;
  border: 1px solid #000;
  background-color: #00000000;
  border-radius: 48px;
  color: #ffffffc5;
  transition: transform .1s;
  margin-top: 10px;
  margin-bottom: 0;
}
.menu button:active{ 
  transform: scale(0.9);
}
#game{
    font-size: 48px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
}
#game button{
  width: 100px;
  height: 100px;
  background-color: #00000000;
  border-radius: 50px;
  color: #fff;
  border: 3px solid #ffffff77;
  font-size: 24px;
  transition: transform .1s;
}
#game button:active{
  transform: scale(0.8);
}
#error{
  color: #ffffff99;
  bottom: 50px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  font-size: 24px;
  animation: none;
  display: none;
  text-align: center;
  background: rgb(110,69,69);
  background: linear-gradient(180deg, rgba(110,69,69,0.7941011578849193) 0%, rgba(50,0,0,0.7463483488961552) 50%, rgba(67,0,0,0.7463483488961552) 51%, rgba(48,0,0,0.7463483488961552) 100%); 
  border: 1px solid #400;
  border-radius: 10px;
  padding: 10px;
}
#notification{
  position: absolute;
  color: #ffffff99;
  padding: 10px;
  top: 100px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  font-size: 26px;
  animation: none;
  display: none;
  text-align: center;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.7603932927163799) 0%, rgba(44,44,44,0.7294944163118855) 49%, rgba(56,56,56,0.7379213826040203) 50%, rgba(50,50,50,0.8783708208062675) 100%); 
  border: 1px solid #000;
  border-radius: 10px;
}
#cheatsbutton{
  display: none;
}
.numbers{
    color: #fff;
    font-size: 64px;
    animation: none;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    display: inline-block;
    animation: colorChange 3s infinite alternate;
    position: static;
  }
#number2{
}
#bottombar{
  position: absolute;
  bottom: 0px;
  width: 97%;
  padding-left: 0.7%;
  padding-right: 0.7%;
  height: 50px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.7603932927163799) 0%, rgba(44,44,44,0.7294944163118855) 49%, rgba(56,56,56,0.7379213826040203) 50%, rgba(50,50,50,0.8783708208062675) 100%);
  border: 1px solid #000;
  border-bottom: 0;
  color: #fff;
  border-radius: 15px 15px 0 0;
  margin-left: 0.8%;
}
#bottombar button{
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #44444400;
  border: none;
  color: #ffffff99;
  font-size: 24px;
  margin: 1px;
}
#bottombar button:hover{
  margin: 0;
  color: #fff;
  border: 1px solid #000;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 49%, rgba(56,56,56,1) 50%, rgba(50,50,50,1) 100%); 
}
#bottombar button:active{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 49%, rgba(56,56,56,1) 50%, rgba(50,50,50,1) 100%); 
}
#money{
  margin: 0;
  display: inline;
  float: right;
  margin-top: 4px;
  margin-right: 4px;
  font-size: 30px;
  color: #ffffff99;
  padding-left: 15px;
}

@keyframes roulette{
  0% {transform: rotate(-3600deg);}
  100% {transform: rotate(360deg);}
}
#rouletteball{
  transform-origin: 1%;
}

#profileMenu {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #000000aa;
  color: #ffffffc5;
  width: 300px;
  right: 0px;
  bottom: 60px;
  position: absolute;
  border-radius: 15px 0px 0 15px;
  border: 2px solid #000;
}
.trophy{
  width: 64px;
  height: 64px;
  display: none;
}
#xp{
  display: inline-block;
  font-size: 24px;
  margin: 0;
  color: #ffffff99;
  border-right: 1px solid #222;
  padding-right: 15px;
  float: right;
  margin-top: 8px;
}
