@import url('https://fonts.cdnfonts.com/css/florida-project');
@import url('https://fonts.cdnfonts.com/css/casino');
@keyframes colorChange {
     0% {
      color: red;
    }
    25% {
      color: rgb(0, 110, 255);
    }
    50% {
      color: rgb(0, 224, 0);
    }
    75% {
      color: orange;
    }
    100% {
      color: rgb(255, 0, 255);
    }
}
@keyframes backChange {
  0% {background-color: red;}
  25% {background-color: rgb(0, 110, 255);}
  50% {background-color: rgb(0, 224, 0);}
  75% {background-color: orange;}
  100% {background-color: rgb(255, 0, 255);}
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Florida Project Phase One', sans-serif;
  background-color: #331d14;
}
button{
  cursor: pointer;
  font-family: 'Florida Project Phase One', sans-serif;
}
#background{
  filter: blur(30px);
  -webkit-filter: blur(30px);
  position: absolute;
}
#header{
  font-size: 64px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #ffffffcc;
  margin-top: 10px;
  font-family: 'Casino', sans-serif;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
.menu{
  display: none;
  padding: 50px;
  text-align: center;
  background-color: #444444aa;
  color: #fff;
  width: auto;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
.menu button{
  padding: 16px;
  width: 200px;
  border: 3px solid #ffffffaa;
  background-color: #00000000;
  border-radius: 48px;
  color: #fff;
  transition: transform .1s;
}
.menu button:active{ 
  transform: scale(0.9);
}
#game{
    font-size: 48px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
}
#game button{
  width: 100px;
  height: 100px;
  background-color: #00000000;
  border-radius: 50px;
  color: #fff;
  border: 3px solid #ffffff77;
  font-size: 30px;
  transition: transform .1s;
}
#game button:active{
  transform: scale(0.8);
}
#error{
  color: #f00;
  bottom: 50px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  font-size: 36px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  display: none;
}
#numbers{
    color: #fff;
    font-size: 64px;
    animation: none;
    animation: colorChange 3s infinite;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
#bottombar{
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 48px;
  background-color: #444444aa;
  border-top: 4px solid #88888855;
  border-bottom: 4px solid #333333aa;
  color: #fff;
}
#bottombar button{
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0;
  background-color: #44444400;
  border: none;
  color: #fff;
  font-size: 24px;
}
#money{
  margin: 0;
  display: inline;
  float: right;
  margin-right: 20px;
  font-size: 43px;
}
