@import url('https://fonts.cdnfonts.com/css/florida-project');
@import url('https://fonts.cdnfonts.com/css/casino');
@keyframes colorChange {
     0% {
      color: red;
    }
    25% {
      color: rgb(0, 110, 255);
    }
    50% {
      color: rgb(0, 224, 0);
    }
    75% {
      color: orange;
    }
    100% {
      color: rgb(255, 0, 255);
    }
}
@keyframes backChange {
  0% {background-color: red;}
  25% {background-color: rgb(0, 110, 255);}
  50% {background-color: rgb(0, 224, 0);}
  75% {background-color: orange;}
  100% {background-color: rgb(255, 0, 255);}
}
@keyframes error {
  0% {color: #ff0000;}
  100% {color: #ff000000;}
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Florida Project Phase One', sans-serif;
  background-color: #331d14;
}
button{
  cursor: pointer;
  font-family: 'Florida Project Phase One', sans-serif;
}
#background{
  filter: blur(30px);
  -webkit-filter: blur(30px);
  position: absolute;
}
#header{
  font-size: 64px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #ffffffcc;
  margin-top: 10px;
  font-family: 'Casino', sans-serif;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
.menu{
  display: none;
  padding: 50px;
  text-align: center;
  background-color: #000000aa;
  color: #ffffffc5;
  width: auto;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 15px;
  border: 2px solid #000;
}
.menu button{
  padding: 16px;
  width: 200px;
  border: 1px solid #000;
  background-color: #00000000;
  border-radius: 48px;
  color: #ffffffc5;
  transition: transform .1s;
  margin-top: 10px;
  margin-bottom: 0;
}
.menu button:active{ 
  transform: scale(0.9);
}
#game{
    font-size: 48px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
}
#game button{
  width: 100px;
  height: 100px;
  background-color: #00000000;
  border-radius: 50px;
  color: #fff;
  border: 3px solid #ffffff77;
  font-size: 24px;
  transition: transform .1s;
}
#game button:active{
  transform: scale(0.8);
}
#error{
  color: #ff0000;
  bottom: 50px;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  font-size: 36px;
  animation: none;
  display: none;
  text-align: center;
}
#cheatsbutton{
  display: none;
}
#numbers{
    color: #fff;
    font-size: 64px;
    animation: none;
    animation: colorChange 3s infinite;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}
#bottombar{
  position: absolute;
  bottom: 0px;
  width: 98.5%;
  padding-left: 0.5%;
  height: 48px;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.7603932927163799) 0%, rgba(44,44,44,0.7294944163118855) 49%, rgba(56,56,56,0.7379213826040203) 50%, rgba(50,50,50,0.8783708208062675) 100%); 
  border: 1px solid #000;
  color: #fff;
  border-radius: 24px;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
}
#bottombar button{
  height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #44444400;
  border: none;
  color: #ffffff99;
  font-size: 24px;
  margin: 1px;
}
#bottombar button:hover{
  margin: 0;
  color: #fff;
  border: 1px solid #000;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 49%, rgba(56,56,56,1) 50%, rgba(50,50,50,1) 100%); 
}
#bottombar button:active{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(44,44,44,1) 49%, rgba(56,56,56,1) 50%, rgba(50,50,50,1) 100%); 
}
#money{
  margin: 0;
  display: inline;
  float: right;
  margin-right: 20px;
  font-size: 36px;
  color: #ffffff99;
}
